@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("assets/website_back.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

header {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;

  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Optional for better contrast */
}

h3 {
  font-size: 2rem;
}

hr {
  width: 70%;
  margin: 0 auto;
  border-color: white;
}

.pw-container {
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Dark semi-transparent background for better readability */
  border-radius: 8px;
  padding: 2rem;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pw-header {
  padding-bottom: 1rem;
}

.pw {
  background-color: rgb(255, 255, 255);
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  height: 70px;
  width: 100%;
  position: relative;
  padding: 1rem;
  overflow: auto;
}

.pw button {
  background-color: rgb(255, 255, 255);
  border: none;
  color: rgb(134, 94, 175);
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0, 20%);
  transition: opacity 0.2s ease, transform 0.2s ease;
  opacity: 0;
}

.pw:hover button {
  opacity: 1;
  transform: translate(0, 0%);
}

.pw-body {
  padding: 1rem 0;
}

.form-control {
  color: #eee;
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.generate {
  background-color: rgb(76, 63, 168);
  border: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.75rem;
  margin-top: 1rem;
  width: 100%;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.generate:hover {
  background-color: rgb(103, 34, 120); /* Change color on hover */
}

.generate:active {
  background-color: rgb(94, 55, 200); /* Change color when button is clicked */
}
